.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 2rem 9%;
    background: var(--bg-color);
    backdrop-filter: blur(20px);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 7px double var(--main-color);

    @media (max-width: 770px) {
        padding: 0.7rem 7%;
        flex-direction: column;
    }
}

.logo_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 0;
    
}

.activeLink {
  background-color: var(--main-color);
  color: white !important;
  padding: 0.4rem 0.8rem;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.responsive_list {
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    z-index: 150;
    transition: all 0.3s ease-in-out;

    @media (min-width: 770px) {
        display: none;
    }
}

.responsive_list_text {
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--bg-color);
    font-size: 26px;
}

.responsive_list_text:last-child {
    border-bottom: none;
}
.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;

    @media (max-width: 770px) {
        font-weight: 500;
        font-size: 2rem;
    }
}

.menu {
    cursor: pointer;

    @media (min-width: 770px) {
        display: none;
    }
}

.navlist {
    @media (max-width: 770px) {
        display: none;
    }
}

.navlist ul {
    display: flex;

    @media (max-width: 770px) {
        display: none;
    }
}

.navlist ul li {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 700;
    margin-right: 2rem;
    cursor: pointer;
}

.navlist ul li:hover,
.navlist ul li.active {
    color: var(--main-color);
}

.navlist_responsive {
    background-color: var(--main-color);
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 10px 20px;
    border-radius: 10px;

    @media (min-width: 770px) {
        display: none;
    }
}
