.navbar {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 2rem 9%;
    background: var(--bg-color);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100; 
    border-bottom: var(--main-color);
    border-width: 0 0 7px 0;
    border-style: double;
    background: "rgba(255, 255, 255, 0.60)";
    backdropfilter: blur(20px);

    @media (max-width: 770px) {
        padding: .7rem 7%;
        
    }
    
}

.logo {
    font-size: 2.5rem; 
    color: var(--text-color);
    font-weight: 600;

    @media (max-width: 770px) {
        font-weight: 500;
        font-size: 2.5rem;
    }
}

.menu {
    

    @media (min-width: 770px) {
        display: none;
    }
}

.menu_responsive {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3rem 4rem 0 0; 

    @media (min-width: 770px) {
        display: none;
    }
}
.navlist {
    @media(max-width: 770px) {
        display: none;
    }
}

.navlist ul{
    display: flex;
    

    @media(max-width: 770px) {
        display: none;
    }

}

.navlist_responsive {
    
    background-color: var(--bg-color);
    position: absolute;
    top: 59px;
    right: 20px;
    padding: 5px 40px 20px;

    @media (min-width: 770px) {
        display: none;
    }
}

.navlist_responsive ul {
    text-align: center;
}


.navlist_responsive ul li {
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 500;
    margin-bottom: 1rem;

    @media (min-width: 770px) {
        display: none;
    }

}

.navlist_responsive ul .social_box h3{
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: .6rem;
}

.navlist_responsive ul .social_box a {
    font-size: 1.1rem;
    font-weight: 500;
}
.navlist ul li {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 700;

}

.navlist ul li:not(:last-child) {
    margin-right: 38px;
}

.navlist ul li:hover,
.navlist ul li.active {
    color: var(--main-color);
}

.socials {
    width: auto;
    display: none;     
    justify-content: space-between;
    margin-top: 2.3rem;

    @media(max-width: 770px) {
       display: flex;
    }

}

.socials a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 20%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
